<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlurBloom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>156066F31C51FE8900101CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1560670C1C51FE8900101CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156067171C51FE8900101CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
